<%- include('partials/navbar') %>

<!-- Main content for displaying employee records -->
<main class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <h1><%= title %></h1>
      <br>
    </div>
  </div>
</main>